ul {
	list-style-type: disc;
}
table td, table tr, table th {
	padding: 8px;
	border: 1px solid black;
	border-radius: 3px;
}
h1, h2 {
	display: inline-block;
	font-weight: normal;
}
h2 {
	font-size: 34px;
	margin-left: 145px;	
}
