#table {
	border: 1px solid #444444;
    border-collapse: collapse;
    font-family: 'Calibri';
    width: 500px;
}

#table th {
    background-color: #5DBE08;
    color: #ffffff;
    font-weight: normal;
    font-size: 14px;
}

#table > tbody > tr > td, #table > thead > tr > th {
    padding: 3px;
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
}

#table>tbody>tr:nth-child(even) {
        background-color: #EDEDDA;
}

table td, table th {
    text-align: left;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

img {
	width:20px;
	padding-right: 5px;
}
